@charset "UTF-8";
.page-header, .mobile-menu, .menu-toggle__title, .auth-mobile, .main-nav__site, .contact, .section__list, .team__professionals, .clients__item, .destination__street, .site, .portfolio {
  padding: 0;
  margin: 0;
  list-style: none;
}

.policy__checkbox, .text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-link, .menu-toggle__link, .auth-mobile__link, .auth-mobile__mailto, .social__link, .main-nav__link, .contact__link, .destination__link, .destination__studios, .portfolio__sites {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}

h1, h2, h3 {
  margin: 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
    width: 100%;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (min-width: 768px) {
  .flex-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .logo-link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo-link__website {
  color: #2196F3;
  font-family: Raleway;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo-link__website {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo-link {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo-link {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .menu__box {
    bottom: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 48px 40px 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  top: 10px;
  right: 15px;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
}

.menu-toggle .menu-toggle__menu {
  display: none;
  overflow: scroll;
}

.menu-toggle.js-open-menu .menu-toggle__menu {
  display: block;
}

.menu-toggle.js-open-menu .menu-toggle__close {
  display: none;
}

.menu-toggle__title {
  display: block;
  font-weight: 500;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-toggle__list {
  margin-bottom: 32px;
}

.menu-toggle__list:last-child {
  margin-bottom: 0px;
}

.menu-toggle__link.current {
  color: #188CE8;
}

.menu-toggle__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-toggle__link:hover, .menu-toggle__link:focus {
  color: #188CE8;
}

.auth-mobile {
  position: absolute;
  bottom: 134px;
}

.auth-mobile__item {
  margin-bottom: 32px;
}

.auth-mobile__item:last-child {
  margin-bottom: 0px;
}

.auth-mobile__link {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2196F3;
  list-style: none;
  bottom: 32px;
}

.auth-mobile__link:hover, .auth-mobile__link:focus {
  color: #757575;
}

.auth-mobile__mailto {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  list-style: none;
}

.auth-mobile__mailto:hover, .auth-mobile__mailto:focus {
  color: #2196F3;
}

.social__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  bottom: 48px;
}

.social__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.social__link:hover, .social__link:focus {
  color: #757575;
}

.social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.social__item:first-child {
  padding-left: 0px;
}

.social__item:last-child {
  border-right: none;
}

.social__item:last-child {
  padding-right: 0px;
}

.social__link:not(:last-child) {
  padding-right: 10px;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  margin-right: 50px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196F3;
}

.main-nav__link.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.main-nav__link.current {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact__item {
    margin-bottom: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contact__item:first-child {
    padding-bottom: 0px;
  }
  .contact__item:last-child {
    margin-bottom: 0px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-left: 50px;
  }
}

.contact__item:first-child {
  margin-left: 0;
}

.contact__list {
  padding-left: 0;
  display: block;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .contact__link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact__icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.contact__icons {
  fill: currentColor;
  margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact__icons {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.hero {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 129, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/mobile1x.jpg);
  background-image: linear-gradient(rgba(128, 128, 129, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/mobile1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/tablet1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/tablet1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/desktop1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/desktop1x.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/tablet2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images2/desktop2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images2/desktop2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    width: 100%;
  }
}

.hero__center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .hero__center {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__center {
    width: 696px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #188CE8;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__list {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 1200px) {
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__one {
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section__one {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section__one:not(:last-child) {
    margin-right: 30px;
  }
}

.section__five {
  margin-bottom: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .section__five {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .section__five {
    width: 354px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section__five {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .section__title {
    text-align: center;
  }
}

.section__feature {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .section__feature {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section__feature {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section__feature {
    width: 270px;
  }
}

.section__icon {
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 768px) {
  .section__icon {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.working {
  display: none;
}

@media screen and (min-width: 1200px) {
  .working {
    padding-top: 0;
    padding-bottom: 94px;
    display: block;
  }
}

.working__work {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.working__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.working__photo {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 0;
  margin-right: 30px;
}

.working__photo:last-child {
  margin-right: 0;
}

.working__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.working__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.the-best {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .the-best {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team {
  margin-bottom: 50px;
  color: #212121;
  background: #F5F4FA;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .team {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }
}

.team__people {
  padding: 30px 32px;
}

.team__list {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  color: #757575;
  font-family: Roboto;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__professionals {
  background: #F5F4FA;
  list-style: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__professionals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 1200px) {
  .team__professionals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item {
  margin-right: 10px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__icon {
  width: 20px;
  height: 20px;
}

.team__link:hover, .team__link:focus {
  cursor: pointer;
  background-color: #188CE8;
  fill: #ffffff;
}

.team__workers {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__workers {
    margin-bottom: 30px;
  }
  .team__workers:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__workers:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__workers {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.thumb-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.team__img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .team__img {
    height: 460px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__img {
    height: 374px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .team__img {
    height: 260px;
    width: 100%;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .clients__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .clients__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 30px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:last-child {
    margin-right: 0;
  }
}

.clients__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .clients__title {
    font-size: 28px;
    line-height: 33px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  padding: 0;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
  background-color: #ffffff;
  border: 1px solid #2196F3;
}

@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .destination__tumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .destination__tumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.destination {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (max-width: 767px) {
  .destination__site {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .destination__site {
    width: 231px;
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .destination__site {
    width: 231px;
  }
}

.destination__link {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .destination__link {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}

.destination__website {
  color: #2196F3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .destination__website {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}

.destination__street {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.destination__kiev {
  margin-top: 0;
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .destination__kiev {
    text-align: center;
  }
}

.destination__kiev:last-child {
  margin-bottom: 0;
}

.destination__studios {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.destination__studios:hover, .destination__studios:focus {
  color: #2196F3;
}

/*--Присоединяйтесь--*/
@media screen and (max-width: 767px) {
  .join {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .join {
    width: 206px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    width: 206px;
    margin-left: 70px;
  }
}

.join__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join__super {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .join__super {
    text-align: center;
  }
}

.join__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  cursor: pointer;
  background-color: #188CE8;
  fill: #ffffff;
}

.join__list {
  margin-left: 0;
  margin-right: 10px;
}

.join__list:last-child {
  margin-right: 0;
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mailing {
    margin-left: 166px;
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .mailing-form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mailing__subscription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .mailing__subscription {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .mailing__subscription {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mailing-form__input {
  height: 50px;
  padding-left: 16px;
  background: #2F303A;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
          filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mailing-form__input {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mailing-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-form__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.mailing-form__airplane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2196F3;
  color: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-form__airplane:hover, .mailing-form__airplane:focus {
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .mailing-form__airplane {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .mailing-form__airplane {
    margin-left: 12px;
  }
}

.mailing-form__icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  max-width: 528px;
  max-height: 581px;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 450px) {
  .modal {
    max-width: 450px;
    width: 100vw;
    max-height: 609px;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__box:hover, .modal__box:focus {
  fill: #2196F3;
}

.modal__icon {
  display: block;
  width: 18px;
  height: 18px;
}

.form-modal__declare {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.field__name {
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field:focus-within .field__person {
  fill: #2196F3;
}

.field__person {
  position: absolute;
  left: 12px;
  top: 29px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__person:focus {
  fill: #2196F3;
}

.field__tel {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.field__tel {
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__phone {
  position: absolute;
  left: 12px;
  top: 29px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__phone:focus {
  fill: #2196F3;
}

.field:focus-within .field__phone {
  fill: #2196F3;
}

.field__email {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.field__email {
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__icon:focus {
  fill: #2196F3;
}

.field:focus-within .field__icon {
  fill: #2196F3;
}

.field__input {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.comment__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment__text {
  position: relative;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__text:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.comment textarea {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.comment label {
  margin-bottom: 4px;
}

.policy {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: Roboto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  padding-left: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .policy {
    font-size: 12px;
    line-height: 14px;
    padding-left: 0px;
    text-align: center;
  }
}

.policy__link {
  color: #2196F3;
}

.policy__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 5px;
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196F3;
  background-image: url(../images/full-chek.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.policy__Vector {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 6px;
  top: 3px;
  opacity: 0;
}

.policy__send {
  cursor: pointer;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-color: transparent;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  margin-left: 124px;
  margin-right: 124px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__send:hover {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .policy__send {
    margin-left: 85px;
    margin-right: 85px;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.poster {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .poster {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.site__buttons {
  position: relative;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  border-color: transparent;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  cursor: pointer;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site__buttons:hover, .site__buttons:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.all {
  color: #ffffff;
  background-color: #2196F3;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .site {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .site {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .site {
    margin-bottom: 30px;
  }
}

.site__two {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .site__two {
    margin-bottom: 15px;
  }
  .site__two:nth-child(n + 4) {
    margin-bottom: 0px;
  }
  .site__two:nth-child(4) {
    margin-left: 0px;
  }
}

.site__two:first-child {
  margin-left: 0;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 1200px) {
  .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio:nth-child(n + 7) {
    margin-bottom: 0;
  }
  .portfolio:nth-child(-n + 3) {
    margin-top: 0;
  }
  .portfolio:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    width: 450px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .portfolio:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 370px;
  }
}

.portfolio__sites {
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  height: 100%;
}

.portfolio__sites:hover, .portfolio__sites:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 767px) and (max-width: 1199px) {
  .portfolio__sites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.signature {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .signature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.signature__decoration {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.signature__text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.portfolio__sites:hover .portfolio__overlay,
.portfolio__sites:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio__paragraph {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 450px) {
  .portfolio__paragraph {
    padding: 49px 24px;
  }
}
/*# sourceMappingURL=main.css.map */