.menu-container {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 796px;
    text-align: center;
    padding: 48px 40px 48px 40px;

    background-color: $hero-text-color;
    &.is-open {
      display: block;
    }
    @media screen and (min-width: 768px) {
     display: none;
     }
  }
  



  .menu-button { 
    display: inline-flex;
    margin: 0;
    padding: 0;
     border: none;
    background-color: transparent;
    position: absolute;
    
   
   @media screen and (min-width: 768px) {
    
    display: none;
   }
 }
 .menu-button .menu-button__close {
   display: none;
 }
 .menu-button.is-open .menu-button__close {
   display: block;
 }
 .menu-button.is-open .menu-button__menu {
   display: none;
 }
