


@import "./utils/variables";
@import "./utils/placeholders";

@import "./components/container"; 
@import "./components/logo";
@import "./components/main-nav";
@import "./components/contact";
@import "./components/hero";
@import "./components/section";
@import "./components/working";
@import "./components/team-profesionals"; 
@import "./components/clients";
@import "./components/footer";
@import "./components/backdrop";
@import "./components/portfolio";




  