
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  
    transition: opacity $transition, visibility $transition;
}
  
  .backdrop.is-hidden{
    opacity: 0;
   pointer-events: none;
   visibility: hidden;
   
  }
  .backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.2);
  }
  .modal{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $hero-text-color;
    max-width: 528px;
    max-height: 581px;
  
    transform: translate(-50%, -50%) scale(1);
  
    box-shadow: $box;
    border-radius: 4px;
    transition: transform $transition;
   
  
  }
  .modal__box{
  
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   top: 8px;
   right: 8px;
    padding: 6px;
    width: 30px;
   height: 30px;
   background-color: $hero-text-color;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition:  border $transition, fill $transition ;
  
    &:hover,
    &:focus{
        fill: $accent-color;  
    }
  }
  
  .modal__icon{
    display: block;
    width: 18px;
    height: 18px;
   
  }
  
  .form-modal__declare{
    display: block;
    justify-content: center;
    align-items: center; 
    margin-bottom: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color; 
   }

  .field{
    position: relative;
    display: flex;
    flex-direction: column;
   margin-bottom: 10px;
  }

  .field__name{
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $feature-text-color;
  }
  
  .field:focus-within .field__person{
    fill: $accent-color;
  }
  
  .field__person{
    position: absolute;
    left: 12px;
    top: 29px;
    width: 18px;
    height: 18px;
    transition: fill $transition;
  
    &:focus{
      fill: $accent-color;
    }
    
  }

  .field__tel{
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .field__tel{
   margin-bottom: 4px;
   font-family: Roboto;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: $feature-text-color;
  }
  
  .field__phone{
    position: absolute;
    left: 12px;
    top: 29px;
    width: 18px;
    height: 18px;
    transition: fill $transition;
  
    &:focus{
      fill: $accent-color;
    }
   
  }
  
  .field:focus-within .field__phone{
    fill: $accent-color;
  }

  .field__email{ 
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   
  }

  .field__email{
    margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $feature-text-color;
  }
  
  .field__icon{
    position: absolute;
    left: 12px;
    top: 29px;
    width: 18px;
    height: 18px;
    transition: fill $transition;
  
    &:focus{
      fill: $accent-color;
    }
    
  }
  
  .field:focus-within .field__icon{
    fill: $accent-color;
  }
  
  .field__input{
    position: relative;
    height: 40px;
    width: 100%;
   border: $field-border;
   box-sizing: border-box;
   border-radius: 4px;
   cursor: pointer;
   padding-left: 42px;
   transition:  border $transition;
  
    &:focus{
      border: 1px solid $accent-color;
      outline:none;
    }
   
  }

  .comment{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .comment__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: $feature-text-color;
  
  
  }
  
  .comment__text{
    position: relative;
    height: 120px;
    width: 100%;
    border: $field-border;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
   cursor: pointer;
   transition:  border $transition;
  
    &:focus{
      border: 1px solid $accent-color;
      outline:none;
    }
    
  }
  
  .comment textarea {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    padding: 12px 16px;
   color: $comment-color;
  }
  
  .comment label{
    margin-bottom: 4px; 
   }
  
  
  .policy {
   display: block;
    flex-direction: column;
    position: relative;
    font-family: Roboto;
    align-items: center;
   justify-content: center;
   font-size: 14px;
   line-height: 1.71;
   
   letter-spacing: 0.03em;
   color: $feature-text-color;
   margin-bottom: 30px;
   padding-left: 12px;
  
  
  }
  .policy__link{
    color: $accent-color;
  
  }
  .policy__checkbox{
     @extend %visually-hidden
  }
  
  
  
  .policy__icon{
   width: 16px;
   height: 15px;
   display: inline-block;
   margin-right: 7px;
   border: 2px solid $title-text-color;
   border-radius: 4px;
   transition: background-color $transition;
  }

  .policy__checkbox:checked + .policy__icon{
    background-color: $accent-color;
    background-image: url(../images/full-chek.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
  }
  
  .policy__Vector{
    position: absolute;
   width: 16px;
   height: 15px;
   left: 6px;
   top: 3px;
   opacity: 0;
  }

  .policy__send{
   cursor: pointer;
   display:inline-block;
   align-items: center;
   text-align: center;
   border-color: transparent;
   width: 200px;
   height: 50px;
   font-family: Roboto;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87; 
   letter-spacing: 0.06em;
   color: $hero-text-color;
   background: $accent-color;
   margin-left: 124px;
   margin-right: 124px;
   border-radius: 4px;
   transition: background-color $transition, box-shadow $transition;
  
    &:hover{
      background-color: $button-text-color;  
      box-shadow: $box-shadow-color;
    }
   
  } 
  