
 .contact{
  display: none;

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      padding-top: 21px;
      padding-bottom: 21px;
     
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
     
    }
  }
  
  .contact__item{
    @media screen and (min-width: 768px) {
     margin-bottom: 10px;
     &:last-child{
       margin-bottom: 0px;
     }
     
    }
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
     
    }
     &:first-child {
     margin-left: 0;
    }

  }  

  .contact__list{
    padding-left: 0;
    display: block;
  }
 
 
  
  .contact__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
    width: 100%;
    
    }
    
  }
   
  .contact__icon{
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
     
     
    }
  }
  
  
  
 
  
  
  .contact__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
   padding-top: 32px;
   padding-bottom: 32px;
  
   color: $feature-text-color;
   font-family: Roboto;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   transition: color $transition;

   @media screen and (min-width: 768px) {
     display: block;
     font-size: 12px;
     line-height: 14px;
     padding-top: 0px;
     padding-bottom: 0px;

   
     }
      
    &:hover,
    &:focus{    
     color: $accent-color; 
    }

    
  } 
  
  .contact{
      @extend %list;
  }
  
  .contact__link{
    @extend %text;
  }
  