
.contact{
    display: flex;
    margin-left: auto;
  }
  
  .contact__item{
    margin-left: 50px;

     &:first-child {
     margin-left: 0;
    }
  }  

  .contact__list{
    padding-left: 0;
    display: block;
  }
 
 
  
  .contact__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
     
  }
   
  .contact__icon{
    margin-right: 10px;
    fill: currentColor;
  }
  
  
  .contact__icon{
   margin-right: 10px;
   fill: currentColor ;
  }
  
  
  .contact__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
   padding-top: 32px;
   padding-bottom: 32px;
  
   color: $feature-text-color;
   font-family: Roboto;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   transition: color $transition;
  
      &:hover,
      &:focus{
        color: $accent-color;
      }
  } 
  
  .contact{
      @extend %list;
  }
  
  .contact__link{
    @extend %text;
  }