
.destination{ 

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $box-text-color;
   
  }
  .destination__site{
    width: 231px;
  }


  .destination__link{
    display: block;
    margin-bottom: 20px;
   color: $hero-text-color;
   font-family: Raleway;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
  }
  
  .destination__link{
    @extend %text;
  }
  
  .destination__website{
   color: $accent-color;
   font-family: Raleway;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
  }
  .destination__street{
   color:  $hero-text-color;
   font-family: Roboto;
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
  }
  
  .destination__kiev{
    margin-top: 0;
    margin-bottom: 9px;

   &:last-child{
     margin-bottom: 0;
    }
  }
  
  .destination__street{
    @extend %list
  }
  
  .destination__studios{
    position: relative;
   color: $grey-text-color;
   font-family: Roboto;
   font-style: normal;
   font-size: 14px;
   line-height: 1.72;
   letter-spacing: 0.03em;
   transition: color $transition;
  
    &:hover,
    &:focus{
        color: $accent-color;
    }
  }

  .destination__studios{
    @extend %text;
  }
   /*--Присоединяйтесь--*/

   .join{
    width: 206px;
    margin-left: 70px;
  }

  .footer-container{
    display: flex;
    align-items: baseline;
   width: 1200px;
  }
  
  
  .join__title{
    font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   color: $hero-text-color;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
  
   
  }
  .join__super{
    display: flex ;
    justify-content: center;
   align-items: center;
   list-style: none;
  }

  .join__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: none;
    padding: 0;
   width: 44px;
   height: 44px;
   fill: $join-color;
   border-radius: 50%;
   background-color: $icon-background-color; 
   transition: background-color $transition, fill $transition;

    &:hover,
    &:focus{
      cursor: pointer;
      background-color: $button-text-color;
      fill: $hero-text-color;
    }
 
  }
  
  .join__list{
    margin-left: 0;
    margin-right: 10px;
  
   &:last-child{
     margin-right: 0;
   }

  }
  
  .join__icon{
    width: 20px;
    height: 20px;
   fill: $hero-text-color ;
  }
  
  
  
  .mailing{
    margin-left: 93px;
  }
  
  
  .mailing-form{
    display: flex;
    align-items: center;
  }
  
  .mailing__subscription{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-text-color;
    margin-bottom: 20px;
    font-style: normal;
  }

  .mailing-form__input{ 
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background: $box-text-color;
    border-radius: 4px;
    color: $main-color;
    border: $main-border-color;
    filter: $box-shadow-color;
    outline: none;
    cursor: pointer;
  }

  .form-footer{
    display: flex;
  }

  .mailing-form__airplane{
    display: flex;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin-left: 12px;
    padding: 10px 28px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    align-items: center;
   
    background: $accent-color;
    color: $hero-text-color;
    transition: box-shadow $transition;
  
    &:hover,
    &:focus{ 
      background-color: $accent-color;
      box-shadow: $box-shadow-color;
    } 
 
  } 
  .mailing-form__icon{
    height: 24px;
    width: 24px;
    margin-left: 10px;
   
  }
 
 