.hero{
    background: $box-text-color;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ),
    
    url(../images/Imageoverlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  
  .hero__center {
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    }
    
    .hero__title{
    margin-top: 0;
    margin-bottom: 30px;
  
    color: $hero-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
  }
  
  .hero__button{
    position: relative;
    display:inline-block;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 32px;
    min-width: 200px;
  
   color: $hero-text-color;
   background-color: $accent-color;
   
   font-family: Roboto;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   cursor: pointer;
   align-items: center;
   letter-spacing: 0.06em;
   transition: background-color $transition;
   
    &:hover{
        background-color:  $button-text-color; 
    }
      
  } 