 .logo-link{
    @extend %text;

  }

 .flex-center{
   display: flex;
   
   @media screen and (min-width: 768px) {
    align-items: center;
   justify-content: center;
    
   
  }
  }

  .logo-link{
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
      
     
    }
    
  }
  
  .logo-link__website{
    color: $accent-color ;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.16;
     
    }
   
   
  }
  
  .logo-link{
    color: $primary-text-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.16;
      
    }
  }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background-color: $hero-text-color;
  transform: translateX(100%);
  transition: $transition;
 
}

.menu-container.is-open {
  transform: translateX(0);
  }

  .menu-toggle {
    position: absolute;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: $hero-text-color;
    cursor: pointer;
    border: none;
    outline: none;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus{
      fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
      display: none;
      
    }
  }
 

.menu-container .menu-toggle {
 position: absolute;
 top: 10px;
 right: 15px;
 color: $hero-text-color;
 
}

.mobile-menu{
  @extend %list;

}


.menu-toggle .menu-toggle__menu {
  display: none;
}
.menu-toggle.js-open-menu .menu-toggle__menu {
  display: block;
}
.menu-toggle.js-open-menu .menu-toggle__close {
  display: none;
}






























 
  