
.main-nav{
  margin-left: 93px;
}

.main-nav__site{
  display: flex;
}

.main-nav__site{
  @extend %list
}

.main-nav__item {
  margin-right: 50px;
  
 &:last-child{
   margin-right: 0;
 }

}

.main-nav__link{
 position: relative;
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;
 color: $title-text-color;
 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 transition: color $transition;

  &:hover,
  &:focus{
    color: $accent-color;
  } 
 
}

 
.main-nav__link.current::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px; 
  left: 0;
  bottom: -1px;
}
  
.main-nav__link{
  @extend %text;
}


.main-nav__link.current{
    color: $accent-color;
}