 
 

   .text{
       @extend %visually-hidden
   }

   .page-header {                                                                                       
     border-bottom: 1px solid #ECECEC;
   } 
   
   .poster{
     padding-top: 94px;
     padding-bottom: 94px;
   }
   
   .site__buttons{
     position: relative;
     border-radius: 4px;
     text-align: center;
     padding: 6px 22px;
     border-color: transparent;
     color: $title-text-color;
     font-family: Roboto;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.85;
     cursor: pointer;
     letter-spacing: 0.03em;
     transition: color $transition, background-color $transition, box-shadow $transition;
    
      &:hover,
      &:focus{
        color: $hero-text-color;
        background-color: $accent-color ;
        box-shadow: $site;
        transform: translateY(0);
        opacity: 1;
      }
    
   }
   
   .all{
     color: $hero-text-color;
     background-color: $accent-color;
   }
   
   .site{
     display: flex;
     margin-top: 0;
     margin-bottom: 50px;
     justify-content: center;
   }
   .site{
       @extend %list
   }

   .site__two{
     margin-left: 8px;
  
     &:first-child{ 
       margin-left: 0;
     }

    }
   
   .pictures{
     
     display: flex;
     flex-wrap: wrap;
    
   }
   
   .portfolio{
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
     width: 370px;
   }

   .portfolio__sites{
     position: relative;
     transition: box-shadow $transition;
     display: block;
   
       &:hover,
       &:focus{
        box-shadow: $shades;
      }
    }
   
    img {
     display: block;
     max-width: 100%;
     height: auto;   
    } 
   
   .signature{
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 24px;
     padding-right: 24px;
     border-right: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
     border-left: 1px solid #EEEEEE;
   }
   
   
   .portfolio {

     &:nth-child(n + 7){
       margin-bottom: 0;
     }

     &:nth-child(-n + 3){
       margin-top: 0;
     }

     &:nth-child(3n){
       margin-right: 0;
     }

    }
    
  
   
   .portfolio{
    @extend %list;
   }
   
   .portfolio__sites{
    @extend %text;
   }
   
   .signature__decoration{
    margin-top: 0;
    margin-bottom: 4px;
    color: $title-text-color;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   }
   
   .signature__text{
    color: $feature-text-color;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
   }
   
   .portfolio__thumb{
     position: relative;
     overflow: hidden;
    }
   
    .portfolio__overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     margin: 0;
     transform: translateY(101%);
     transition: transform $transition;
     background: rgba(33, 150, 243, 0.9);

      
    }

    .portfolio__sites:hover .portfolio__overlay,
    .portfolio__sites:focus .portfolio__overlay{
     transform: translateY(0);
     opacity: 1;
    }
   
   

   .portfolio__paragraph{
     position: absolute;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     width: 100%;
     height: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 63px 24px;
     font-size: 18px;
     line-height: 1.55;
     color: $hero-text-color;
     letter-spacing: 0.03em;
     
     
    
    }