$primary-text-color: #000000;
$accent-color: #2196F3 ; 
$title-text-color:#212121 ;
$button-text-color:#188CE8 ;
$hero-text-color:#ffffff;
$feature-text-color:#757575;
$fon-text-color: #F5F4FA;
$join-color:#AFB1B8;
$grey-text-color: rgba(255, 255, 255, 0.6);
$box-text-color: #2F303A;
$mobile-background-color: rgba(47, 48, 58, 0.8);
$icon-background-color: rgba(255, 255, 255, 0.1);
$box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
$main-color: rgba(255, 255, 255, 0.6);
$main-border-color: 1px solid rgba(255, 255, 255, 0.3);
$field-border: 1px solid rgba(33, 33, 33, 0.2);
$comment-color: rgba(117, 117, 117, 0.5);

$main-font:"Roboto",sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$shades: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$site : 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);